#cabeceraweb{
    background-color:blue
}

#navegacionprincipal{
    background-color:brown
}

#barralateral{
    background-color:chartreuse
}

#contenidoprincipal{
    background-color:coral
}

#pieprincipal{
    background-color:darkgoldenrod
}